body {
	margin: 0;
	padding: 0;
	background-color: rgb(171,79,34);
}

#login, #password, inpute {
	margin: 0;
	padding: 0;
	border: 0;
}

.link {
	margin: 0;
	padding: 0;
	border:0;
	color: white;
	background: rgb(39,163,22);
}

#todoApp {
	margin: 0 auto;
	max-width:500px;
	box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
	border: 4px solid white;
}

.textEditor, .mainTextEditor {
	margin: 0;
	padding: 0;
	border: 0;
	background-color:white;
	min-height: 25px;
}

#statusButton {
	background-color: rgb(243,255,135);
}

#statusButton  > span {
	border: 2px white solid;
	padding-right:60px;
}

.enter, #enter {
	color: white;
	cursor: pointer;
	font-size: 15px;
	background-color: rgb(111,255,103);
	border: 2px rgb(255,255,255) solid;
	box-shadow: 2px 2px 30px #40310a, inset 2px 2px 55px #40310a;
	padding: 3px;
}

li {
	color: white;
}

li *{
	color: black;
}

#enterName, .enterName, #regButton, #loginButton {
	color:white;
	margin:0 auto;
	text-align: center;
	text-shadow: black 1px 1px 2px, red 0 0 1em;
	font-weight: bold;
}

.enter:hover, #enter:hover {
	background-color:black;
	color:white;
}

.navButton:hover {
	cursor: pointer;
	background-color:black !important;
	color:white !important;
}

.editButton {
	cursor: pointer;
	background-color: green;
	margin:2px;
	border: 2px white solid;
	color: white;
}

.editButton:hover{
	background-color:black;
	color:white;
}

#allButton {
	background-color: rgb(255,80,252);
}

#activeButton {
	background-color: rgb(173, 255, 170);
}

#completedButton {
	background-color: rgb(255,135,159);
}

.todo_text{
	min-width:20px;
	min-height:15px;
	background-color: rgb(255,251,200);
	padding: 2px 4px;
	margin:2px;
	word-wrap: break-word;
}

.close {
	cursor: pointer;
	background-color: rgb(218,162,158);
	margin:2px;
	border: 2px white solid;
}

.close:hover{
	background-color:black;
	color:white;
}

.todos {
	border-bottom: 2px white solid;
	padding: 3px 6px;
}

.completedButton{
	right:0;
	cursor: pointer;
	background-color: rgb(255,190,124);
	margin:2px;
	border: 2px white solid;
}

.completedButton:hover{
	background-color:black;
	color:white;
}

#todo_list > .indicator {
	display: block;
	width:20px;
	height: 20px;
}

ul {
	margin: 0;
	padding: 0;
	border: 0;
}

li[completed="yes"] {
	background-color: rgb(255,135,159);
}

li[completed="yes"]:after {
	color: black;
	content: " : YES";
}

li[completed="no"] {
	background-color: rgb(173, 255, 170);
}

li[completed="no"]:after {
	color: black;
	content: " : NO";
}

.activeTab {
	background-color : red;
	font-size : 25px;
}

#clearAllButton {
	background-color : rgb(213,223,118);
}